<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask web app start!</title>
  <style>
   body {
    margin: 0px;
   }
  </style>
 </head>
 <body>
  <div id="site-wrapper" style="width: 70%; margin: 0 auto;">
   <header>
    <h3>Menu</h3>
    <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/api/v1/naver">Get Naver Keywords</a></li>
    </ul>
   </header>
   <section>
    <article>
     <div id="main-article" style="background-color: #202a34; color: #e8e9ea; padding: 10px 20px; height: 60vh;">
      <h1>Home</h1>
      <p>This is home.</p>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum.</p>
      <p>Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
     </div>
    </article>
   </section>
  </div>
  <footer>
   <div id="footer-content" style="background-color: #626970; color: #bcbfc2; height: 20vh;">
    <h3>footer</h3>
    <p>This is footer.</p>
   </div>
  </footer>
 </body>
</html>
